@import url('https://fonts.googleapis.com/css2?family=Finlandica:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

.container {
  /* background-color: #264653; */
  padding: 0 2rem;
  font-family: 'Finlandica', sans-serif;
}


.main {
  min-height: 100vh;
  padding: 4rem 0;
  text-align: center;
  position: relative;
}

.title {
  z-index: 1;
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #3c6e71 0%,
    #e9c46a 29%,
    #57cc99 67%,
    #2a9d8f 100%
  );
  filter: saturate(100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 100px;
}

.subtitle {
  z-index: 2;
  /* color: rgb(34 197 94); */
  color: #6a95c0;
  filter: saturate(200%);

}

.about {
  color: #353535;
  filter: saturate(100%);
  font-size: 50px;
}

.content {
  color: #353535;
  filter: saturate(200%);
}

.logo {
  color: black;
  object-fit: cover;
  margin: 10px;
}

.copy {
  cursor: pointer;
}

.copy:hover {
  color: rgba(57,126,116, 0.5);
}

.redirect:hover {
  animation: bounce 2.5s infinite;
  -webkit-animation: bounce 2.5s infinite; 
  -moz-animation: bounce 2.5s infinite; 
  -o-animation: bounce 2.5s infinite;
}

.logo:hover {
  transform: scale(1.5); 
}


.section {
  top: 50%;
  margin: auto;
}

.section:first-child {
  min-height: 75vh;
  margin-top: 25vh;
}

.section:last-child {
  margin-bottom: 25vh;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@-webkit-keyframes bounce {
    0%,  
    100% {
       -webkit-transform: translateY(0);
    } 
    50% {
        -webkit-transform: translateY(-10px);
    }
}
@-moz-keyframes bounce {
    0%, 
    100% {
       -moz-transform: translateY(0);
    }
    50% {
       -moz-transform: translateY(-10px);
    }
}
@-o-keyframes bounce {
    0%,
    100% {
       -o-transform: translateY(0);
    }
    50% {
       -o-transform: translateY(-10px);
    }
}
@keyframes bounce {
    0%,  
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}


@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

